

.nav li{
    display: inline-block;
    list-style: none;
    padding: 0 50px;
    font-size: 30px;
    
}

.nav li input{
    height: 50px;
    width: 500px;
    border-radius: 10px;
    font-size: 20px;
}



.nav li button{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    font-size: 20px;
}

.nav li button:hover{
    background-color: green;
}

.source{
    color:rgb(24, 24, 71);
    height: auto;
    width: 100%;
    /* background-color: rgb(65, 111, 96); */
    background: linear-gradient(180deg, rgba(185, 105, 31, 0.66) 0%, rgba(6, 43, 172, 0.429) 100%);
    border-radius: 5px;
}

.body button{
    background-color:red;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

.boby button:hover{
    background-color: green;
}

/* .flu{
    display: flex;
    justify-content: space-between;
    align-items:stretch;
} */

#allsources{
display: flex;

}

#article{
    height: 800px;
    width: 800px;
}