body {
  background-image: url(../images/news2.jpg);
}

/* navbar.html */

.nav {
  position: fixed;
  z-index: 100px;
  width: 100%;
}
.nav li {
  display: inline-block;
  list-style: none;
  padding: 0 50px;
  font-size: 30px;
}

.nav li :hover{
    color: red;
}

.nav li input {
  height: 50px;
  width: 500px;
  border-radius: 10px;
  font-size: 20px;
}

.nav li button {
  height: 50px;
  width: 100px;
  border-radius: 10px;
  font-size: 20px;
}

.nav li button:hover {
  background-color: green;
}

#allsources {
  display: flex;
}

#article {
  height: 600px;
  width: 600px;
  border-radius: 10px;
  text-align: center;
}

/* macros.html */

.card-columns {
  /* display: inline-block; */
  padding: 20px;
  margin: 10px 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  /* align-items: flex-end; */
  flex-wrap: wrap;
  justify-content: space-around;
}

/* #visit {
  margin-left:  60%;
} */

/* #read{
    margin-top: 50px;
} */

.body button {
  background-color: rgb(135, 46, 46);
  width: 150px;
  height: 40px;
  border-radius: 5px;
  
}


.body button:hover {
  background-color: green;
}

.source {
  color: rgb(24, 24, 71);
  height: auto;
  width: 20%;
  background: linear-gradient(
    180deg,
    rgba(185, 105, 31, 0.66) 0%,
    rgba(6, 43, 172, 0.429) 100%
  );
  border-radius: 5px;
  padding: 10px;
  margin: 10px 10px;
}

.articles-outcome{
    color: black;
    font-weight: bolder;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#readmore{
    height: 50px;
    width: 150px;
    background-color: brown;
    border-radius: 5px;
}

#readmore:hover{
    background-color: green;
}

/* SOURCE.HTML */
.overlay h2 {
  text-align: center;
  font-size: 60px;
}
